.newsletter {
  display: flex;
  flex-direction: column;
  margin: 72px 0px 0px 78px;
  cursor: pointer;
  @media screen and (min-width: $mobile) and (max-width: 1200px) {
    display: block;
    justify-content: center;
    padding: auto;
    margin-top: auto;
  }

  &-form {
    margin-top: 20px;
    align-items: center;
    display: flex;
  }
  &-mail__mailbox {
    width: 358px;
    height: 50px;
    background-color: $bgColor;
    border: 1px $newsletterBorder solid;
    border-radius: 4px;
    color: #fff;
    padding: 15px 0px 15px 16px;
    outline: none;

    &::placeholder {
      color: $footFontColor;
    }
  }
  &-btn {
    cursor: pointer;
    background-color: $hoverColor;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &__font {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      color: #fff;
      letter-spacing: 0.06em;
      display: inline;
      cursor: pointer;
    }
    &__icon {
      fill: #fff;
      position: relative;
      top: 6px;
      left: 12px;
    }
  }
}
