* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: $brandColorBlack;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  @media (min-width: 480px) and (max-width: 768px) and (max-width: 1200px) {
    margin: 0px auto;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

.sections-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  @media (min-width: 480px) and (max-width: 768px) and (max-width: 1200px) {
    display: none;
    justify-content: center;
  }
}
