* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: $brandColorBlack;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

.sections-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
// MOBILE

@media screen and (max-width: $mobile) {
  body {
    max-width: 480px;
  }
  .container {
    // width: 480px;
    margin: 0px 15px auto;
  }
}

// TABLET

@media screen and (min-width: 481px) and (max-width: $tablet) {
  body {
    max-width: 768px;
  }
  .container {
    // width: 768px;
    margin: 0px 15px auto;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: 1200px;
    margin: 0px auto;
  }
}
